.IASC {
    color: aqua;
}

.Content1 {
    font-size: large;
}

.Content2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}

.Brock {
    position: relative;
    width: 500px;
    height: 200px;
}

h2 {
    color: red;
  }

.img {
    padding-left: 10%;
}